
mat-form-field {
    display: block;
}

button{
    margin: 5px;
}

.err {
text-align: right;
margin: 51px;

}
.example-card {
    padding: 10px;
    margin: 10px;
    max-width: 400px;
    background-color: whitesmoke;
  }
  
 